<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.runninggo.toy.dao.CourseMapper">

    <!-- 코스 insert -->
    <insert id="insertCourse" parameterType="CourseRequestDto">
        insert into course (id, local1, local2, subway_nm, level, storage, distance, description, rcmnd_reason, img_url, del_yn, create_dt)
            values (#{id}, #{local1}, #{local2}, #{subwayNm}, #{level}, #{storage}, #{distance}, #{description}, #{rcmndReason}, #{imgUrl}, #{delYn}, now());
    </insert>

    <!-- 코스 목록 조회 -->
    <select id="getCourse" parameterType="CourseRequestDto" resultType="com.runninggo.toy.domain.course.CourseResponseDto$GetCourseResDto">
        select idx, id, local1, local2, subway_nm, level, storage_yn, storage, distance, description, rcmnd_reason, img_url, del_yn, create_dt, update_dt
        from course
        where 1=1
            <if test="idx != null">       AND idx = #{idx}              </if>
            <if test="id != null">        AND id = #{id}                </if>
            <if test="subwayNm != null">  AND subway_nm = #{subwayNm}   </if>
            <if test="level != null">     AND level = #{level}          </if>
            <if test="storageYn != null"> AND storage_yn = #{storageYn} </if>
            <if test="delYn != null">     AND del_yn = #{delYn}         </if>
            <if test="createDt != null">  AND create_dt = #{createDt}   </if>
    </select>

    <!-- 코스 카운트 조회 -->
    <select id="getCourseTotalCount" parameterType="CourseRequestDto" resultType="int">
        select count(*)
        from course
        where 1=1
            <if test="idx != null">       AND idx = #{idx}              </if>
            <if test="id != null">        AND id = #{id}                </if>
            <if test="subwayNm != null">  AND subway_nm = #{subwayNm}   </if>
            <if test="level != null">     AND level = #{level}          </if>
            <if test="storageYn != null"> AND storage_yn = #{storageYn} </if>
            <if test="delYn != null">     AND del_yn = #{delYn}         </if>
            <if test="createDt != null">  AND create_dt = #{createDt}   </if>
    </select>
</mapper>